$margin : 20px;
$marginBigger: 40px;
$sizeXsmall : 0.8rem;
$sizeXsmallHover : 1rem;
$sizeSmall : 1rem;
$sizeSmallHover : 1.3rem;
$sizeMedium : 1.5rem;
$sizeMediumHover : 2rem;
$sizeLarge : 2.5rem;
$sizeLargeHover : 3rem;
$transition : 0.4s;
$radius: 10px;